main{
    width: 100%;
    height: 100%;
    background-color: black;
}
#response{
    flex-wrap: wrap;
    /*text-align: center;*/
    display: flex;
    /* margin: 4% 3%;*/

    color: black;
    font-family: 'Terminal';
    /*text-shadow: 4px 4px 15px #00FF00;
    text-align: left;*/
    /* margin-right: 10%;
     margin-top: 10%;
     margin-left: 7%;*/

}
#diseno-pelicula

{
    position: relative;
    display: inline-block;
    font-size: 1em;

    margin-inline: 7% 0%;
    margin-block: 10%;

    transition: 0.5s ease-in-out opacity;
    cursor: pointer;

    /*margin-inline: 7% 0%;*/
    /* margin-right: 4.5%;
     border-radius: 6%;*/
}
#diseno-pelicula:hover{
    opacity: 30%;
    color: white;

}

#diseno-pelicula .icon {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s ease-in-out opacity;
}

#diseno-pelicula:hover .icon{
    opacity: 1;
}

#diseno-pelicula #miniatura-pelicula{
    width: 420px;
    height: 534px;
}



img#estado {
    position: absolute;
    /* left: 65%; */
    /* left: 5%; */
    margin-left: -7.9%;
}